html {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

html a {
    text-decoration: none;
}

.body-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav-wrapper {
    background: #035E7B;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper a {
    margin: 0, auto;
    padding: 1em;
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.header-wrapper {
    height: 40px;
}

.main-wrapper {
    flex: 1;
}

.footer-wrapper {
    height: 50px;
}
